#workPage{
    margin: 0;
    height: 120vh;
    background-image: url(../../assets/howWeWork.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}
#headingWork{
    font-size: 10vh;
    width: 100%;
    color: white;
    padding: 2%;
}

#imgs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.containers{
    width:fit-content;
    padding: 2%;
    place-self: center;
    flex-wrap: wrap;
}

#bdImg, #amImg, #uaImg, #daImg{
    height: 30vh;
    width: 32vh;
    padding: 2%;
}

#paImg{
    height: 50vh;
    width: 40vh;
}

#solImg{
    height: 45vh;
    width: 35vh;
}

#saImg{
    width: 30vh;
    height: auto;
}

#con1, #con2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@keyframes appear {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}






@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-element {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
    display: flex;
  }
  

  .containers{
       text-align: -webkit-center;   
       color: white;   
       opacity: 0;   
       transition: opacity 0.8s ease-in-out; 
    }  
  .containers.show {   
    transform: translateY(1%);   
    opacity: 1; 
}