#workPage{
    margin: 0;
    height: 100vh;
    background-image: url(../../assets/howWeWork.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}
#headingWork{
    width: 100%;
    color: white;
    padding: 2%;
    font-size: 20px;
}

.fade-in-element{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.containers{
    width: 15%;
    height: 100%;
    place-self: center;
    flex-wrap: wrap;
}

.imgTag{
    width: 100%;
    padding: 2%;
    height:fit-content;
}

#con1, #con2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#bdImg, #amImg{
    height: 17vh;
}

#uaImg,#daImg{
    height: 17vh;
}

#saImg{
    height: 5vh;
}

#paImg, #solImg{
    height: 35vh;
}

@keyframes appear {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}






@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-element {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
    display: flex;
  }
  

  .containers{
       text-align: -webkit-center;   
       color: white;   
       opacity: 0;   
       transition: opacity 0.8s ease-in-out; 
    }  
  .containers.show {   
    transform: translateY(1%);   
    opacity: 1; 
}