#teamPageCard {
    height: 150vh;
    background-image: url('../../assets/team.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#memberCardsContainer {
    width: 90%;
    height: 50vh;
    overflow-x: scroll; 
    flex-wrap: wrap;
}
#memberCardsContainer::-webkit-scrollbar {
    display: none;
}

.glassCardContainer {
    padding: 15%;
    height: 50vh;
    width: 50vh;
}

/* .glassCardContainer */
.activeCard {
    height: 30vh;
    width: 30vh;
    background-image: url('../../assets/glassCard.png');
    opacity: 0.8;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1%;

    box-shadow: 0 0 30px rgba(0, 183, 169, 0.5);
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
  }
  

#avatar {
    height: 15vh;
    width: 13vh;
}

.glassCard {
    height: 30vh;
    width: 30vh;
    background-image: url('../../assets/glassCard.png');
    opacity: 0.8;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1%;
}


#footerContainer{
    width: 100%;
}

#footer{
    color: white;
    height: 20vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#faqContainer, #reachUs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    flex-wrap: wrap;
}

#faq, #reach{
    font-size: 6vh;
    font-weight: 700;
}

#reach{
    text-align: center;
}

#dropUps{
    width: 60%;
}

#dropUp{
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    flex-wrap: wrap;
}

#dropUpContent{
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    flex-wrap: wrap;
}

#msgFaq{
    width: 90%;
    box-shadow: 2px 2px 5px  white;
    /* background-color: rgb(255,255,255,0.2); */
    background-color: transparent;
    border-radius: 20px;
    margin: 1vh;
    padding: 1vh;
}

#tri{
    height: 1.5vh;
}

#triTurn{
    height: 1.5vh;
    transform: rotate(90deg);
}

#imgsLink{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#link{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 500;
}

#mailCont, #instaCont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

#reachImg{
    height: 10vh;
}