@keyframes bgchange {
    0%{
        background-image: url(../../assets/triangleBlackBg.png);
    }
    15%{
      background-image: url(../../assets/triangleBg.png);
    }
    50%{
      background-image: url(../../assets/triangleBlackBg.png);
    }
    100%{
      background-image: url(../../assets/triangleBg.png);
    }
}


@keyframes textAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-text {
    animation: textAnimation 2s ease-in-out;
  }
  
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  
#headingTri{
  color: white;

}

#headTriCont{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}