#joinUsContainer{
    height: 120vh;
    background-image: url(../../assets/joinUsBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#joinUsImg{
    width: 50%;
    margin: 0;
    transition: transform 0.5s ease-in-out;
}
#joinUsImg:hover{
    transform: translateY(-30px);
    transition: transform 0.5s ease-in-out;
}





