#navbarParentContainer {
    width: 100%;
    display: flex;
    opacity: 0%;
    animation: bringDown 2s 1s forwards;
    flex-wrap: wrap;
    overflow: hidden;
    z-index: 999;
    /* position: sticky; */
  }
  
  #navbarContainer {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
  }
  
  #logoContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
  }
  
  #homeTitle {
    font-size: 1.2vw;
    font-weight: 700;
  }
  
  #listItems>ul {
    display: flex;
    list-style: none;
  }
  
  #listItems>ul>li>button{
     cursor: pointer;
    position: relative;
    font-size: 1vw;
    border: none;
    background-color: white;
    font-weight: 700;
  }
  html{
    scroll-behavior: smooth;
  }
  a {
    color: inherit;
    text-decoration: none;
    cursor: default;
  }
  #listItems>ul>li>button::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 0;
    height: 1px;
    background-color: #00B7A9;
    transition: width 0.3s ease-in-out;
  }
  
  #listItems>ul>li>button:hover::before {
    width: 50%; /* Set the width to 50% on hover */
    
  }
  
  #listItems>ul>li>button:hover {
    text-decoration: #00B7A9;

  }
  
  
  #signUpContainer {
    display: flex;
    flex-direction: column;
    padding: 1vw;
  }
  
  #getInButton {
    padding: 0.5vw;
    background-color: white;
    border: 3px solid black;
    font-size: .9vw;
  }
  
  #getInButton:hover{
    background-color: black;
    color:white;
  }
  #theJourneyText {
    font-size: 1vw;
  }
  
  @keyframes bringDown {
    from {
      top: 2vh;
      opacity: 0%;
    }
    to {
      top: 4vh;
      opacity: 100%;
    }
  }